{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
<div id="navbar"></div>

<script>
$(function() {
  $("#navbar").load("/static/navbar_auth.html");
});
</script>

{% else %}
<div id="navbar"></div>

<script>
$(function() {
  $("#navbar").load("/static/navbar.html");
});
</script>

{% endif %}

<body>
  <main style="text-align: center;padding-left: 15px;padding-right: 15px;margin-right: 15px;margin-left: 15px;padding-top: 15px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-10">
          <h1>Welcome to <span>EV-ryday!</span></h1>
          <p>EV-ryday merupakan sebuah platform multifungsi bagi para pengguna kendaraan berbasis listrik.</p>
        </div>
      </div>
    </div>
  </main>
</body>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">&copy; 2022 - Kelompok D-11</span>
      </div>
  </footer>
</div>

{% endblock content %}