{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Find Charge</title>
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
<div id="navbar"></div>

<script>
$(function() {
  $("#navbar").load("/static/navbar_auth.html");
});
</script>

{% else %}
<div id="navbar"></div>

<script>
$(function() {
  $("#navbar").load("/static/navbar.html");
});
</script>
{% endif %}

<script src="{% static 'findcharge/findCharge.js' %}"></script>
<body>
  <div class="container">
    <h2 style="text-align:center ;">Find Charge</h2>
    <div style="text-align:center ;">
        <p style="text-align:center ;">Select your location</p>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Available location
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'findcharge:show_station' %}">Semua Kota</a></li>
                {% for kota in daftar_kota %}
                <li><a class="dropdown-item" href="{% url 'findcharge:show_filtered_station' kota %}">{{kota}}</a></li>
                {% endfor %}
            </ul>
          </div>
    </div>
    <div class="stn-card"></div>
    <div class="container-fluid d-flex flex-wrap justify-content-center" id="stn-card"></div>
    <p style="text-align:center ;">Discover new charging station? <a data-bs-toggle="modal" href="#myModal">Click Here!</a></p>
  </div>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add New Charging Station</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form method="POST" id="stn-form">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="submit" id="button-add" class="btn btn-success" data-bs-dismiss="modal" value="submit">Submit</button> 
              </form>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="SuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="SuccessModalLabel">Success!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>You have been checked in successfully!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</body>

{% endblock content %}