{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
<div id="navbar"></div>

<script>
$(function() {
  $("#navbar").load("/static/navbar_auth.html");
});
</script>

{% else %}
<div id="navbar"></div>

<script>
$(function() {
  $("#navbar").load("/static/navbar.html");
});
</script>

{% endif %}

<body>
    <main style="text-align: center">
        <h3>EV-News</h3>
        <p>Disini, kamu dapat melihat berita terbaru mengenai EV.</p>
        <div class="stn-card"></div>
        <div class="container-fluid d-flex flex-wrap justify-content-center" id="stn-card"></div>
        <p style="text-align:center ;">Change news country? <a data-bs-toggle="modal" href="#myModal">Click Here!</a></p>
        </div>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Select Country</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <form id="news-form" method="POST" action="">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label for="location">Pilih lokasi:</label>
                            <select id="location" name="location">
                                <option value="volvo">Indonesia</option>
                                <option value="saab">Malaysia</option>
                                <option value="mercedes">Amerika Serikat</option>
                                <option value="audi">Semua Negara</option>
                              </select>
                            </div>
                            
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="submit" id="button-add" class="btn btn-success" data-bs-dismiss="modal" >Submit</button> 
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </main>
    
    <section>
        <div class="container">
            <div class="row justify-content-between align-items-top">
            {% for author, title, description, url, image in zipped %}
            <div class="card mb-3" style="width: 18rem;">
                {% if image %}
                    <img src="{{ image }}" class="card-img-top embed-responsive-item" alt="News Thumbnail">
                {% else %}
                    <img src="{% static 'img/unknown.png' %}" class="card-img-top embed-responsive-item" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a class="link" href="{{ url }}">{{ title }}</a></h5>
                    <p class="card-text">{{ description }}</p>
                    <p class="card-text"><small class="text-muted"><i>-{{ author }}</i></small></p>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </section>
  </body>

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">&copy; 2022 - Kelompok D-11</span>
        </div>
    </footer>
  </div>

  <script>
    $(document).ready(function(){
        $('#news-form').submit(function(){
            
        })
    })
  </script>
  <!-- <script>
    async function getData(){
      return fetch("{% url 'news:show_json' %}").then((res) => res.json())
    }
  
    async function refresh(){
      var station = await getData()
      let htmlString = ""
      document.getElementById("stn-card").innerHTML = htmlString
      station.forEach(element => {
          htmlString += `<div class="card text-bg-light m-3" style="width:20rem">
                              <h5 class="card-header">${element.fields.nama_station}</h5>
                              <div class="card-body">
                                  <p class="card-text">${element.fields.time_open}-${element.fields.time_close}</p>
                                  <p class="card-text">${element.fields.alamat}</p>
                                      <div>
                                          <a href=${element.fields.link_gmap} class="btn btn-primary" role="button" aria-disabled="false" target="_blank">Google Map</a>
                                          <button type="button" class="btn btn-success">Check In</button>
                                          
                                      </div>
                              </div>
                              <div class="card-footer">
                                  <p>${element.fields.kota}</p>
                              </div>
                          </div>
                          <br>`                    
      });
      document.getElementById("stn-card").innerHTML = htmlString
    }
  
    function addNews(){
      fetch("{% url 'news:add_news' %}", {
          method: "POST",
          body: new FormData(document.querySelector("#stn-form"))
      }).then(refresh())
      document.getElementById("stn-form").reset()
      return false
    }
  
    document.getElementById("button-add").onclick = addNews
    refresh()
  </script> -->
  {% endblock content %}