{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
<div id="navbar"></div>

<script>
$(function() {
  $("#navbar").load("/static/navbar_auth.html");
});
</script>

{% else %}
<div id="navbar"></div>

<script>
$(function() {
  $("#navbar").load("/static/navbar.html");
});
</script>

{% endif %}

<body>
    <main style="text-align: center">
        <h3>EV-News</h3>
        <p>Disini, kamu dapat melihat berita terbaru mengenai EV.</p>
        <div class="stn-card"></div>
        <div class="container-fluid d-flex flex-wrap justify-content-center" id="stn-card"></div>
        <p style="text-align:center ;">Ingin tambah kanal berita? <a data-bs-toggle="modal" href="#myModal">Klik Disini!</a></p>
        </div>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Select Source</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <form id="news-form" method="POST" action="">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label for="source">Pilih Kanal Berita:</label>
                            <select id="source" name="source">
                                <option value="engadget">Engadget</option>
                                <option value="the-verge">The Verge</option>
                                <option value="techcrunch">Techcrunch</option>
                                <option value="bbc-news">BBC News</option>
                                <option value="cnn">CNN</option>
                              </select>
                            </div>
                            
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="submit" id="button-add" class="btn btn-success" data-bs-dismiss="modal" ><a href="/news/">Submit</a></button> 
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </main>
    
    <section>
        <div class="container">
            <div class="row justify-content-between align-items-top">
            {% for author, title, description, url, image in zipped %}
            <div class="card mb-3" style="width: 18rem;">
                {% if image %}
                    <img src="{{ image }}" class="card-img-top embed-responsive-item" alt="News Thumbnail">
                {% else %}
                    <img src="{% static 'img/unknown.png' %}" class="card-img-top embed-responsive-item" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a class="link" href="{{ url }}">{{ title }}</a></h5>
                    <p class="card-text">{{ description }}</p>
                    <p class="card-text"><small class="text-muted"><i>-{{ author }}</i></small></p>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </section>
  </body>

  <script>
    $(document).ready(function(){
        $('#news-form').submit(function(e){
            e.preventDefault()
            var source = $('#source').val()
            $.ajax({
                async: true,
                type: 'POST',
                url: 'add/',
                data: {
                    'source': source,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(){
                    alert.message('Success')
                }
            })
        })
    })

  </script>
  {% endblock content %}